/* line 11, ../sass/atlassian.scss */
body.atlassian section:nth-child(3) {
  padding-bottom: 400px;
}
/* line 16, ../sass/atlassian.scss */
body.atlassian .Major.Experiment.Sprints .card p {
  width: 100%;
  display: block;
}
/* line 22, ../sass/atlassian.scss */
body.atlassian .Mobile.Community.Profile, body.atlassian .Experiments.Cover {
  min-height: 600px;
}
@media only screen and (max-width: 500px) {
  /* line 22, ../sass/atlassian.scss */
  body.atlassian .Mobile.Community.Profile, body.atlassian .Experiments.Cover {
    min-height: 200px;
  }
}
