@import "compass/css3/transform";
@import "compass/css3"; 
@import "fonts";




body.single-clients{
	
	section{

		&.case-section{
			.row{
				padding: 60px 0;

				@media only screen and (max-width:1100px){
					padding: 20px 0;
				}
			}
		}
		
		
		
		position: relative;

		&.image{
			background-size: cover;
			background-position: center center;
			
		}

		img{
			&.size-full{
				width: 100%;
				height: 100%;
				margin: 60px 0;
			}
		}

		.col-md-6{
			img{
				&.size-full{
					height: auto;
				}
			}
		}

		.container{
			
		}

		&.intro{
			
			background-repeat: no-repeat; 
			background-size: cover;
			background-position: top center;
			height: 70vh;

			h1{
				font-family: $tungsten;
				text-transform: uppercase;
				letter-spacing: 5px;
				font-size: 10rem;
				color: white;
				margin: 0;
				line-height: 9rem;
				text-indent: 5px;
				vertical-align: bottom;

				@media only screen and (max-width:1100px){
					font-size: 18.5vw;
					text-indent: 0px;
					line-height: unset;
					letter-spacing: 5px;
				}

				.text-container, .word{
					vertical-align: bottom;
				}
			}
			

			.container{
				max-width: 100%;
				
				display: block;
				position: relative;
				padding: 0 60px;
				height: 100%;

				@media only screen and(max-width: 768px){
					min-height: auto;
					padding: 200px 60px;
				}
				
				.row{
					position: absolute;
					
					top: 50%;

					@include transform(translateY(-50%));

					@media only screen and (max-width:700px){
						left: 50%;
						@include transform(translate(-50%,-50%));
						padding: 40px;
						width: 100%;
						margin: 0;


					}

					@media only screen and (max-width: 1100px){
						.col-md-6{
							padding: 0;
							margin: 0;
						}
					}
				}

				p{
					margin-bottom: 20px;
					color: rgba(255,255,255,1);

				}

				p{
					margin-top: 20px;
				}

				.logo{
					
					height: 60px;
					background-size: auto 100%;
					overflow: hidden;
					background-repeat: no-repeat;
					background-position: bottom left;
					display: none;

					@media only screen and (max-width: 1100px){
						//display: block;
					}
				}
			}

			@media only screen and (min-width: 1920px){
				background-size: cover;
				
			}

			@media only screen and (max-width: 600px){
				
				padding: 300px 20px;
				height: auto!important;

				.container{
					padding: 0 20px;
				}
			}

		}


	}

	.header .logo{
		

	}

	&.menu-active{
		.header .logo{
			opacity: 1;
			@include transition(.2s all ease-in-out);
			@include transition-delay(.3s);
		}
	}

	.card{
		min-height: 330px;

		@media only screen and (min-width:1920px){
		min-height: 450px;		
		}

		@media only screen and (max-width:980px){
		min-height: 400px;		
		}

		@media only screen and (max-width:750px){
		min-height: 330px;		
		}

		@media only screen and (max-width:500px){
		min-height: 400px;		
		}

		@media only screen and (max-width:400px){
		min-height: 370px;
		}
		
		p{
			margin: 0;
		}

		br{
			display: none;
		}

		.btn{
			
			width: 100%;
			position: absolute;
			bottom: 20px;
			left: 0;
		}
		

		.card-body{
			position: relative;
		    display: flex;
		    height: 100%;
		    padding: 20px 0 0 0;
		    margin: 0 20px;
		}

		.card-title{
			display: inline-block;
			
			margin: 0px 0 0 0;
		}
	}

}

//Atlassian
body.postid-91{
	.Group.Profiles.Cover{
		height: 100vh;
	}

	

	section{
		&.intro{
			background-color: #0048C3;
			@media only screen and (max-width:768px){
				background-position: center 270px;
			}

		}
	}	
}

//Idealspot
body.postid-107{
	section{
		&.intro{
			background-color: #FF7E01;
			@media only screen and (max-width: 768px){
				background-position: -420px 170px;
			}
		}
	}
}


//Alter G
body.postid-74{
	section{
		&.intro{
			background-color: black;
			@media only screen and (max-width: 768px){
				background-position: -610px 200px;
				    
			}
		}

	}
}

//Gracehill
body.postid-105{
	section{
		&.intro{
			background-color: #2D7A98;

			@media only screen and (max-width: 768px){
				background-position: -480px 300px;
			}
		}

		&.Live.Site, &.Vantage{
			height: 70vh;
			background-position: top center;

			@media only screen and (max-width: 768px){
				height: 350px;
			}
		
			.container{
				position: absolute;
				z-index: 20;
				left: 50%;
				top: 50%;
				@include transform(translate(-50%,-50%));
			}

			&:after{
				background-color: rgba(0,0,0,.4);
				content: "";
				display: block;
				position: absolute;
				left: 0;
				z-index: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}
//KW
body.postid-109{
	section.intro{
		.container{
			z-index: 20;

		}

		&:after{
			background-color: rgba(0,0,0,.4);
			content: "";
			display: block;
			position: absolute;
			left: 0;
			z-index: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}