@import "compass/css3/transform";
@import "compass/css3"; 
@import "global";



.container.locked{
	max-width: 100%;

	height: 100%;
	position: fixed;
	top: 0;
	
	background-color: white;
	
	z-index: 109;
	padding-top: 300px;
	
	pointer-events: none;
	opacity: 0;

	@include transition(.2s all ease-in-out);

	.row{
		max-width: 960px;
		margin: 0 auto;
	}

	.col-md-6:first-child{
		border-right: 1px solid rgba(0,0,0,.1);
	}

	.col-md-6{
		padding: 0 60px;
	}

	&.show{
		pointer-events: auto;
		opacity: 1;
		@include transition(.2s all ease-in-out);
		@include transition-delay(.5s);
	}

	.passster-form, #yikes-mailchimp-container-1{
		background-color: transparent;
		max-width: 960px;
		margin: 0 auto!important;
		display: block;
		height: auto;
		padding: 0;
		width: 100%;

		input[type='password']{
			padding: .5278em;
			    background-color: #f1f1f1;
			    border: 2px solid rgba(51,51,51,.1);
		}

		.yikes-easy-mc-form input[type=email]{
			font-family: $metaserif;

			font-size: 1rem;

		}

		#password-form{
			h4{
				

				letter-spacing: 0px;
			
				font-size: 1rem;
				font-weight: normal;
				color: black;
			}

			#passster_submit{
				margin-top: 20px;
				
				font-family: $futura;
				text-transform: uppercase;
				background-color: $primary-orange-2;
				font-size: .5rem;
				letter-spacing: 1px;
				padding: 15px 20px;
				@include border-radius(2px);
			}
			
		}

		.email-input{
			
		}

		.yikes-easy-mc-submit-button{
			
			background-color: $secondary-green-1;
		}

		.EMAIL-label{
			font-family: $futura;
			
			text-transform: uppercase;
			padding-bottom: 20px;
			padding-top: 20px;
			display: block;
			font-size: .65rem;
		}

		.yikes-easy-mc-success-message{
			margin-bottom: 20px;
		}
	}

	.passster-form{
		p{
			font-size: 1rem;
			color: rgba(0,0,0,.5);
			margin-bottom: 20px;

		}
	}

	.access-title, .access-content, hr{
		max-width: 960px;
		margin: 20px auto;
		
	}

	.access-content{
		font-family: $metaserif;
		color: rgba(0,0,0,.5);
	}

	hr{
		margin: 60px auto;
		max-width: 960px;
		@media only screen and (max-width: 960px){
			margin: 60px;
		}

	}

	.row, .access-title, .access-content{
		
		margin: 10px auto;

		@media only screen and (max-width: 960px){
			
		}

		small{
			display: block;
			font-size: .5rem;
			color: red;
			color: rgba(0,0,0,1);
			text-transform: uppercase;
			font-family: $futura;
		}

		h4{
			padding-top: 0px;
			margin-top: 0px;
		}
	}
}







